<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos</title>
</head>

<body>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: aliceblue;
            text-align: center;
        }

        .service-card {
            background: rgba(114, 114, 114, 0.336);
            padding: 20px;
            border-radius: 15px;
            max-width: 300px;
            width: 100%;
            box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
            text-align: center;
        }
    </style>

    <center>
        <div class="service-card">
            <h1>
                Página indisponível no momento. Estamos trabalho incessante para que fique pronto mais rápido possível,
                agradeço a compreensão :)
            </h1>
        </div>
    </center>

</body>

</html>